<nav class="navbar flex flex-direction-row drop-shadow" id="dashboardNav">
    <a href="/">
        <h1>Sending You Love</h1>
    </a>
    <div class="nav-links flex">
        <li><a href="/logout">Logout</a></li>
    </div>
</nav>