<nav class="navbar" id="indexNav">
    <a href="/">
        <h1>Sending You Love</h1>
    </a>
    <div class="nav-links">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
    </div>
</nav>