<div class="parent-container section-container flex flex-direction-row border-radius creme-bg box-shadow">
    <div class="action-profile-picture drop-shadow flex"><img src="/images/user_icon.png" alt="">
    </div>
    <div class="parent-container actions-container border-radius dark-purple-bg drop-shadow">
        <span class="actions-text drop-shadow">"Would you like to hold hands with [partner]?"</span>
        <button class="light-green-bg border-radius">Hold</button>
        <span class="drop-shadow actions-text">Last sent (0:00AM)</span>
    </div>
</div>