<div class="parent-container flex flex-direction-row border-radius creme-bg box-shadow">
    <div class="action-profile-picture flex cirle-radius drop-shadow"><img src="/images/user_icon.png" alt="">
    </div>
    <div class="parent-container actions-container border-radius  dark-purple-bg drop-shadow">
        <span class="drop-shadow actions-text">"Would you like to send [partner] a kiss?"</span>
        <button class="light-green-bg border-radius">Kiss</button>
        <span class="drop-shadow actions-text">Last sent (0:00AM)</span>
    </div>
</div>
</div>