<nav class="navbar flex flex-direction-row" id="indexNav">
    <a href="/">
        <h1>Sending You Love</h1>
    </a>
    <div class="nav-links flex flex-direction-row">
        <li><a href="/login">Login</a></li>
    </div>
</nav>