<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/pages/userDashboard.css">
    <title>Dashboard</title>
</head>
<body class="flex">
    <nav class="navbar flex drop-shadow" id="dashboardNav">
        <a href="/">
            <h1>Sending You Love</h1>
        </a>
        <div class="nav-links flex">
            <li><a href="/logout">Logout</a></li>
        </div>
    </nav>
    <div class="container flex">
       <div class="parent-container flex hunter-green-border-radius drop-shadow">
           <div class="parent-container flex creme-border-radius filter-none" id="user-container">
                 <div>
                <h1 class="welcome">
                    Welcome, <span id="userName">[user]</span>!
                </h1>
                <hr>
                    <div class="parent-container drop-shadow filter-none" id="partner-info-container">
                        <button class="partner-info-button">&lt;</button>
                        <div class="parent-container flex drop-shadow filter-none" id="partner-info">
                            <div class="partner-profile-picture flex"><img id="partner-profile-picture-img" src="../images/user_icon.png" alt="">
                            </div>
                            <div class="partner-info-text flex">
                                <span class="partner-pronouns">
                                    They/them
                                </span>
                                <hr id="purple-horizontal-line">
                                <div class="partner-status-container">
                                    <div class="partner-status-text flex">
                                        <span class="current-status">Offline</span>
                                        <span class="status-message">"This is a status message!"</span>
                                        <div class="partner-location-info flex">
                                            <span class="partner-city partner-country partner-timezone">
                                                MI,USA (0:00AM)
                                            </span>
                                        </div>
                                    </div>
                                    <div class="notifications">
                                        <img src="" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="partner-info-button">&gt;</button>
                    </div>
                </div>
            </div>
            <!-- <hr>
                <div class="parent-container hunter-green-border-radius filter-none" id="actions-container-outer">
                <div class="flex hunter-green-border-radius" id="actions-container">
                    <div class="flex hunter-green-border-radius" id="actions-container-inner">
                        <button class="partner-info-button">&lt;</button>
                        <div class="actions-column flex">
                            <div class="action-background creme-border-radius">
                                <div class="action-profile-picture-container"><img src="../images/user_icon.png"
                                        class="action-profile-picture" alt=""></div>
                            </div>
                            <div class="action-background"></div>
                            <div class="action-background"></div>
                        </div>
                        <button class="partner-info-button">&gt;</button>
                    </div> -->
                </div> 
            </div>
        </div>
    </div>
</body>
</html>