<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/pages/index.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar" id="indexNav">
        <h1>Sending You Love</h1>
        <div class="nav-links">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </div>
    </nav>
    <div class="body">
        <h1>Home</h1>        
    </div>
    
</body>
</html>