<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/pages/baseStyle.css">
        <link rel="stylesheet" href="../css/pages/login.css">
        <title>Log In</title>
    </head>
    <style>

    </style>
    <body class="flex raisin-black-bg">
    <%- include('partials/nav-signup') -%>
        <div class="container flex flex-direction-column border-radius creme-bg box-shadow">
            <div class="parent-container flex border-radius">
                <div class="login-container">
                    <h1 class="title">Log In</h1>
                    <hr class="titleLineBreak">
                    <div class="input-container flex">
                        <form action="/login" method="POST">
                            <div class="email">
                                <label id="email" for="email">Email : </label>
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="password">
                                <label for="password">Password : </label>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                                <div class="submitButton">
                                    <button type="submit">Login</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>        
        <script></script>
    </body>

</html>