<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/pages/baseStyle.css">
    <link rel="stylesheet" href="/css/pages/signup.css">
    <title>Sign Up</title>
</head>
<body class="raisin-black-bg">
    <%- include('partials/nav-login') -%>
    <div class="container">
        <div class="parent-container signup-container border-radius box-shadow creme-bg">
            <h1>Create an Account</h1>
            <hr class="titleLineBreak">
            <div class="input-container">
                <form action="/signup" method="POST">
                    <div class="email">
                        <label id="email" for="email" placeholder="Email">Email : </label>
                        <input type="email" name="email">
                    </div>
                    <div class="userProfileName">
                        <label for="userProfileName" placeholder="Enter Name">Name : </label>
                        <input id="userProfileName" type="text" name="userProfileName">
                    </div>
                    <div class="pronouns">
                        <p>Pronouns</p>
                        <label id="userpronouns" for="userpronouns" placeholder="She/Her">She/Her</label>
                        <input type="radio" name="userpronouns">
                        <label id="userpronouns" for="userpronouns" placeholder="He/Him">He/Him</label>
                        <input type="radio" name="userpronouns">
                        <label id="userpronouns" for="userpronouns" placeholder="They/Them">He/Him</label>
                        <input type="radio" name="userpronouns">
                    </div>
                    <div class="password">
                        <label for="password"> Password : </label>
                        <input type="password" name="password">
                    </div>
                    <div class="password">
                        <label for="confirmPassword">Confirm Password : </label>
                        <input type="password" name="confirmPassword" id="confirmPassword">
                    </div>
                    <div class="submitButton">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script></script>
</body>
</html>