/***** MEDIA QUERIES ******/
@media (max-width: 380px){
    /******************************************
    /* LAYOUT
    /*******************************************/

    .navbar {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        width: 100%;
        height: 10%;
        padding: 4px;
        margin-bottom: 10px;
        background-color: var( --hunter-green);
    }

    .nav-links {
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .navbar h1 {
        width: 100%;
        font-size: 1.5rem;
        font-family: "Champagne";
        color:  var(--creme);
    }

    li {
        list-style-type: none;
        color: var(--creme);
        margin: 0px 10px 0px 10px;
        font-size: 1rem;
        font-family: "Champagne";
    }

    a {
        text-decoration: none;
        color: var(--creme);
    }

    a:hover{
        text-decoration: underline solid;
    }

    .container {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding-top: 30px; */
    }

    .parent-container {
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 98%;
        height: 90%;
        margin: 1%;
    }

    .indexGif {
        display: flex;
        align-items: center;
    }

    .indexGif img {
        width: 80%;
        height: 90%;
    }

    .hidden {
        visibility: hidden;
        display: none;
    }

    .loginSplash {
        border: var(--hunter-green);
        border-radius: 0.5rem;
        margin: 5px;
        width: 90%;
        height: 80%;
        display: flex;
        justify-content: center;
        filter: drop-shadow(var(--dropShadow));
    }

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr {
        height: 1px;
        width: 80%;
        background-color: var(--hunter-green);
    }

    input {
        padding: 5px;
        margin: 3%;
        border: 2px solid #294D4A;
        border-radius: 0.5rem;
        background-color:  var(--creme);
    }


    .input-container {
        display: flex;
        font-family: "ChampagneBold";
        color: var(--hunter-green);
    }

    .email,
    .username,
    .password,
    .submitButton {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .submitButton {
        height: 25%;
    }

    .submitButton button {
        background-color: var(--hunter-green);
        color: var(--creme);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 80px;
        padding-right: 80px;
        width: 100%;
        height: 100%;
        border: var(--hunter-green);
        border-radius: 0.5rem;
        font-family: "Champagne";
    }
}