/***** MEDIA QUERIES ******/
@media (max-width: 380px){
    /******************************************
    /* LAYOUT
    /*******************************************/

    img{
        display: block;
        margin: 0 auto;
        width: 25%;
    }

    .container {
        margin: 5px;
        width: 90%;
        height: 90%;
    }

    .navbar {
        width: 100%;
        height: 10%;
        padding: 4px;
        margin-bottom: 20px;
        background-color: var( --hunter-green);
        filter: drop-shadow(var(--dropShadow));
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .title {
        font-size: 2.3rem;
        font-weight: 300;
    }

    .nav-links {
        width: 40%;
        justify-content: flex-end;
        align-items: center;
    }

    li {
        list-style-type: none;
        color: var(--creme);
        margin: 0px 10px 0px 10px;
        font-size: 32px;
        font-family: "Champagne";
    }

    a {
        font-size: 1rem;
        text-decoration: none;
        color: var(--creme);
    }

    a:hover{
        text-decoration: underline solid;
    }

    h1 {
        text-align: center;
        font-size: 1.3rem;
        font-family: "Champagne";
    }

    .navbar h1 {
        text-align: center;
        margin: 10px;
        color: var(--creme);
    }

    .parent-container {
        background-color: var(--creme);
        border: var(--creme);
        border-radius: 2rem;
        margin: 10px;
        width: 95%;
        height: 90%;
    }

    .parent-container,
    .input-container {
        align-self: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .login-container {
        display: flex;
        padding: 5px;
        width: 100%;
        height: 80%;
        flex-direction: column;
    }

    .login-container h1 {
        margin-bottom: 10px;
        /* border-bottom: #294D4A 2px solid;
        border-spacing: 15px; */
    }

    hr {
        height: 1px;
        width: 80%;
        background-color: var(--hunter-green);
    }

    label {
        width: 60%;
        font-size: 1.2rem;
    }

    input {
        margin: 3%;
        padding: 2%;
        width: 100%;
        border: 2px solid #294D4A;
        border-radius: 0.5rem;
        background-color:  var(--creme);
    }

    .input-container {
        font-family: "ChampagneBold";
        color: var(--hunter-green);
    }

    .email,
    .password {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .email,
    .username,
    .password,
    .submitButton {
        width: 100%;
        font-size: 24px;
    }

    .submitButton {
        display: flex;
        height: 25%;
        flex-direction: column;
        align-items: center;
    }

    .submitButton button {
        background-color: var(--hunter-green);
        color: var(--creme);
        width: 80%;
        height: 100%;
        border: var(--hunter-green);
        border-radius: 0.5rem;
        font-family: "Champagne";
    }
    /******************************************
    /* ADDITIONAL STYLES
    /*******************************************/
}