 /******************************************
/* CSS
/*******************************************/
@font-face {
    font-family: "Champagne";
    src: url('/fonts/Champagne/Champagne\ &\ Limousines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ChampagneBold";
    src: url('/fonts/Champagne/Champagne\ &\ Limousines\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --creme: #fcfbed;
    --creme-shadow: hsla(56, 27%, 77%, 0.15);
    --hunter-green: #23524e;
    --hunter-green-shadow: hsla(175, 32%, 23%, 0.1);
    --light-green:#73937E;
    --light-purple: #A799B7;
    --dark-purple: #9888A5;
    --raisin-black: #2E2E3A;
    --dropShadow: 1px 1px 1px #1a1b1b;
    --box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    --border-radius: 0.25rem;
}

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/*************************/
/* display: flex */
.flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.box-shadow {
    box-shadow:var(--box-shadow);
}

.border-radius{
    border-radius: var(--border-radius);
}

.circle-radius {
    border-radius: 100%;
}

.creme-bg {
    background-color: var(--creme);
}

.creme-border-radius {
    border: var(--creme-shadow) 4px solid;
    border-radius: var(--border-radius);
}

.light-green-bg {
    background-color: var(--light-green);
}

.hunter-green-bg {
    background-color: var(--hunter-green);
}

.hunter-green-border-radius {
    border: var(--hunter-green-shadow) 4px solid;
    border-radius: var(--border-radius);
}

.raisin-black-bg {
    background-color: var(--raisin-black);
}

.light-purple-bg {
    background-color: var(--light-purple);
}

.light-purple-border-radius {
    border: var(--light-purple) 2px solid;
    border-radius: 0.25rem;
}

.dark-purple-bg {
    background-color: var(--dark-purple);
}

.dark-purple-border-radius {
    border: var(--dark-purple) 2px solid;
    border-radius: 0.25rem;
}

.drop-shadow {
    filter: drop-shadow(var(--dropShadow));
}

.filter-none {
    filter: none;
}

/***** MEDIA QUERIES ******/
@media (max-width: 380px){
    /******************************************
    /* LAYOUT
    /*******************************************/
    body {
        width: 100vw;
        height: 100vh;
        background-color: var(--creme);
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        width: 100%;
        height: 10%;
        padding: 4px;
        margin-bottom: 10px;
        background-color: var( --hunter-green);
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        width: 30%;
        justify-content: flex-end;
        align-items: center;
    }

    li {
        list-style-type: none;
        color: var(--creme);
        margin: 0px 10px 0px 10px;
        font-size: 1.5rem;
        font-family: "Champagne";
    }

    a {
        text-decoration: none;
        color: var(--creme);
    }

    a:hover{
        text-decoration: underline solid;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
        font-family: "Champagne";
    }

    .navbar h1 {
        text-align: center;
        margin: 10px;
        font-size: 32px;
        color:  var(--creme);
    }

    .container {
        width: 97vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* padding-top: 30px; */
    }

    .parent-container {
        align-self: center;
        align-items: center;
        justify-content: center;
        width: 98%;
        height: 90%;
        margin: 1%;
    }

    /* #dashboard-container {
        height: 100%;
    } */

    #user-container,
    #actions-container {
        align-self: center;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 2%;
        height: 95%;
    }

    hr {
        height: 1px;
        width: 80%;
        margin: 1%;
        background-color: var(--hunter-green);
    }

    #partner-info-container {
        height: 25%;
        margin: 0;
        background-color: var(--creme);
        font-size: 0.85rem;
    }

    #partner-info {
        height: 90%;
        width: 90%;
        justify-content: center;
        align-items: center;
        padding: 2%;
    }

    .partner-profile-picture,
    .action-profile-picture  {
        padding: 7%;
        width: 40%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 110%;
    }

    .partner-info-text {
        width: 100%;
        height: 100%;
        padding: 2%
    }

    #purple-horizontal-line {
        background-color: var(--dark-purple);
        height: 2px;
        margin: 0px;
    }

    .partner-status-text,
    .partner-info-text,
    .partner-location-info {
        flex-direction: column;
        justify-content: center;
    }

    .partner-pronouns,
    .status-message,
    .partner-location-info {
        font-family: "Champagne";
        font-weight: 300;
        color: var(--creme);
        filter: drop-shadow(1px,1px,2px, black);
    }

    .current-status {
        font-family: Bebas;
    }

    .partner-pronouns,
    .current-status,
    .status-message,
    .partner-city,
    .partner-country,
    .partner-timezone {
        margin: 2%;
    }

    .notifications {
        width: 30%;
    }

    .partner-info-button {
        display: flex;
        margin: 1%;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 1%;
        padding-right: 1%;
        width: 5%;
        color: var(--creme);
        flex-direction: row;
        align-content: center;
        justify-content: center;
        font-weight: 600;
    }

    #actions-container-outer {
        height: 100%;
        width: 100%;
        flex-direction: row;
    }

    .actions-container {
        height: 90%;
        width: 110%;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .actions-container span {
        width: 100%;
        margin: 1%;
        text-align: center;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        font-weight: 600;
        font-family: "Champagne";
        color: var(--creme);
    }

    .actions-container button {
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 10%;
        padding-right: 10%;
        margin: 2%;
        letter-spacing: 0.1rem;
        font-size: 0.9rem;
        font-weight: 700;
        font-family: "Champagne";
        color: var(--raisin-black);
    }


    #actions-container-inner {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .actions-column {
        width: 90%;
        /* flex-direction: column; */
        align-items: center;
    }
    .action-profile-picture {
        width: 50%;
        height: 60%;
    }

}
